<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:excludeFromRecents="true"
        android:usesCleartextTraffic="true"
        android:stopWithTask="false">
        <service
            android:name="com.contlo.androidsdk.push.NotificationHandler"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.contlo.androidsdk.push.NotificationDismissReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.contlo.androidsdk.DELETE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <!--        <meta-data-->
        <!--            android:name="contlo_api_key"-->
        <!--            android:value="d9fa1a810ce66312beab9f86eaa3480c" />-->
        <!--        <meta-data-->
        <!--            android:name="CONTLO_BASE_URL"-->
        <!--            android:value="https://staging2.contlo.in" />-->

    </application>

</manifest>